grid {
  height: 100%;
}

.row {
  width: 92%;
  padding: 2% 4%;
}

.row .column {
  display: inline-block;
  margin-right: 4%;
  vertical-align: top;
}

.row .column:last-child {
  margin-right: 0px;
}

.column.fluid.right {
  float: right;
}

.row > .row {
  width: 100%;
  padding: 0px;
  margin: 0px;
}

.grid .row:last-child {
  padding-bottom: 0px;
}
